@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Black.eot');
    src: url('fonts/Inter-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/Inter-Black.woff2') format('woff2'),
        url('fonts/Inter-Black.woff') format('woff'),
        url('fonts/Inter-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Bold.eot');
    src: url('fonts/Inter-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Inter-Bold.woff2') format('woff2'),
        url('fonts/Inter-Bold.woff') format('woff'),
        url('fonts/Inter-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-ExtraBold.eot');
    src: url('fonts/Inter-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Inter-ExtraBold.woff2') format('woff2'),
        url('fonts/Inter-ExtraBold.woff') format('woff'),
        url('fonts/Inter-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-ExtraLight.eot');
    src: url('fonts/Inter-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('fonts/Inter-ExtraLight.woff2') format('woff2'),
        url('fonts/Inter-ExtraLight.woff') format('woff'),
        url('fonts/Inter-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Medium.eot');
    src: url('fonts/Inter-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Inter-Medium.woff2') format('woff2'),
        url('fonts/Inter-Medium.woff') format('woff'),
        url('fonts/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Light.eot');
    src: url('fonts/Inter-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Inter-Light.woff2') format('woff2'),
        url('fonts/Inter-Light.woff') format('woff'),
        url('fonts/Inter-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Regular.eot');
    src: url('fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Inter-Regular.woff2') format('woff2'),
        url('fonts/Inter-Regular.woff') format('woff'),
        url('fonts/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-SemiBold.eot');
    src: url('fonts/Inter-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Inter-SemiBold.woff2') format('woff2'),
        url('fonts/Inter-SemiBold.woff') format('woff'),
        url('fonts/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Thin.eot');
    src: url('fonts/Inter-Thin.eot?#iefix') format('embedded-opentype'),
        url('fonts/Inter-Thin.woff2') format('woff2'),
        url('fonts/Inter-Thin.woff') format('woff'),
        url('fonts/Inter-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}




.w-100{
    width: 100%;
}
/***** flex *****/

.justify-content-between {
	justify-content: space-between !important;
}
.justify-content-end{
	justify-content: end !important;
}
.d-flex {
	display: flex !important;
}

.align-items-center {
	align-items: center !important;
}

.align-items-end {
	align-items: end !important;
}

.flex-column-reverse {
	flex-direction: column-reverse !important;
}

.justify-content-center {
	justify-content: center !important
}

.flex-column {
	flex-direction: column !important;
}

.align-content-between {
	align-content: space-between !important;
}

.flex-wrap {
	flex-wrap: wrap !important;
}

.body-active .sidebar.active .mainList>li a svg {
    display: inline-block; 
    margin-left: 0px;
    transition: all .3s;
}
 .sidebar.active .mainList>li a svg { 
    margin-left: 23px;
    transition: all .3s;
}

.sidebar.sidebar-mask.active:hover .mainList>li a svg{
    margin-left: 0px;
}

.custom-editor-container {
    max-height: 300px !important;
    border: 1px solid gray !important;
    /* overflow-y: auto; */
}

.rdw-editor-wrapper {
    height: 400px !important;
    border: 1px solid gray !important;
    overflow: hidden !important
}
.logo-text-wrap{ 
    display: none;
}
.logo_sub{
margin-top: 8px;
color: rgba(255, 255, 255, 0.65);
font-family: "Inter", sans-serif;
font-size: 11px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: left;
display: none;
}

.body-active .logo_sub{
display: block;
}


.body-active .logo-text-wrap{
display: block;
}
  .logo-text-small{
    display: block;
    font-weight: 600;
    font-size: 21px;
    text-align: left;
    line-height: 21px;
    }

.body-active .logo-text-small{
    display: none;
    }


.sidebar-selected i { 
    color: #122AFF  ;
    transition: all .3s;
}
.mainList li i {  
    transition: all .3s;
}
.mainList li:hover i {  
    color: #122AFF  ;
}
.lead-table-cntr thead svg  {
    opacity: 1;
}
.lead-table-cntr thead svg path{
    fill: #fff;
}

.lead-table-cntr tbody{
    border-radius: 3px;
    background: #F0F0F0; 
}
.lead-table-cntr thead th{  
font-weight: 400;
padding:15px 10px ;
line-height: 18px; /* 66.667% */
}
.lead-table-cntr tbody th{ 
    color: #0B0D23; 
font-size: 15px;
font-style: normal;
font-weight: 400;
padding:5px 10px ;
line-height: 18px; /* 66.667% */
}
.lead-table-cntr tbody th a{ 
    color: #0B0D23;  
    text-decoration: none;
}
.lead-table-cntr tbody td{ 
    color: #0B0D23; 
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 66.667% */
padding:5px 10px ;
}
.lead-table-cntr tbody td button{ 
    color: #0B0D23 !important;  
    text-decoration: none;
}

.lead-table-cntr tbody td svg path{ 
    fill: #0B0D23 !important;  
    
}

.lead-table-cntr .css-13cymwt-control{
    border-radius: 3px;
background: #F0F0F0;
border-color: #F0F0F0;
}
.lead-table-cntr .MuiInputBase-input{
    border-radius: 3px;
background: #F0F0F0; 
}


.lead-table-cntr .css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    border-color: #F0F0F0; 
}
.lead-table-cntr .css-jtlhu6-MuiTablePagination-root:last-child{
    background: rgba(255, 255, 255, 0.61);
    backdrop-filter: blur(13.100000381469727px);
}
.lead-table-cntr .css-1mxz8qt-MuiPaper-root{
    background: #F0F0F0; 
}




.lead-table-cntr .form-group {
    display: block; 
  }
  
  .lead-table-cntr .form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
  
  .lead-table-cntr .form-group label {
    position: relative;
    cursor: pointer;
  }
  
  .lead-table-cntr .form-group label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid #8C8E90;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 8px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer; 
    background: #fff;
  }
  
  .lead-table-cntr .form-group input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 4px;
    left: 7px;
    width: 5px;
    height: 10px;
    border: solid #4D4AEA;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  .lead-table-cntr .form-group input:checked + label:before { 
    border: 1px solid #4D4AEA; 
  }

.lead-det-cnt .MuiBox-root{
    border-radius: 3px;
    background: #F0F0F0;
}


.lead-tab-item svg {
    margin: 0;
  }
  
  .lead-details-list {
    display: block; 
    color: #0B0D23; 
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 62.5% */
margin: 25px 0;
}
.lead-details-list label {
    display: block;
    color: rgba(82, 82, 82, 0.65); 
font-size: 13px;
font-style: normal;
font-weight: 400 !important;
line-height: normal; 
margin-bottom: 5px;
}
.lead-details-list svg {
    display: inline-block ;
    margin-right: 5px; 
    
}

.lead-tabpanel-content-block-title{
    display: block;
}

.lead-tabpanel-content-block-title   .lead-details-list { 
margin: 15px 0;
}

.lead-det-cnt .edit-btn {
    display: block;
    margin: 0;
    margin-left: auto;
    width: 152px; 
    border-radius: 3px;
background: #FFF;
padding: 7px 20px;
color: #0B0D23; 
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 10px; /* 66.667% */
}
.lead-det-cnt .edit-btn svg {
   display: inline-block;
   margin-right: 5px;
}

.lead-communication-status {
    width: 100%;
    padding:0;
    min-height: unset;
    margin: 45px 0 0;
}
.lead-communication-status h4{
    color: #0B0D23; 
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 22px;
    line-height: 10px; /* 66.667% */
    position: relative;
}
.lead-communication-status h4 svg.lead-ic{
    display: inline-block;
    margin-right: 10px;
    width: 24px;
    height: 24px;
    padding: 2px;
}
.lead-communication-status h4 .hide-sec{
    position: absolute;
    right: 0;
    cursor: pointer;
    top: 3px;
}


.lead-communication-status-bg{
    border-radius: 3px;
background: #F0F0F0;
padding: 20px;
width: 100%;
min-height: 170px;
}
.lead-communication-status-bg.lead-hit-auto{ 
min-height: unset;
padding: 10px 20px;
}

.commu-txt ul li{
    display: inline-block;
    width: 50%;
    color: #0B0D23; 
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 10px; /* 62.5% */
}

.commu-txt ul li h3{
color: #0B0D23; 
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 10px; /* 66.667% */
margin-bottom: 23px;
}


.commu-txt ul li p {
    color: #0B0D23;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin: 13px 0 20px;
}
.commu-txt ul li span {
    color: rgba(82, 82, 82, 0.70); 
font-size: 11px;
font-style: normal;
font-weight: 400;
line-height: normal;
display: inline-block;
margin-right: 15px;
}
.commu-txt ul li span b {
    color: #0B0D23;
    text-align: center; 
    font-size: 16px;
    font-style: normal;
    font-weight: 500; 
display: inline-block;
margin-right: 5px;
position: relative;
top: 1px;
}

.commu-txt .btn{
    border-radius: 3px;
background: #FFF;
    display: inline-block;
    color: #0B0D23; 
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 66.667% */
padding: 9px  ;
margin-top: 19px;
text-align: center;
width: 144px;
}




.followup span{
    color: rgba(82, 82, 82, 0.65); 
font-size: 11px;
font-style: normal;
font-weight: 400;
line-height: normal;
display: inline-block;
}
.followup h5{
    color: #0B0D23;
    text-align: center; 
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px; /* 100% */
    margin-top: 9px;
}
.followup .btn{
    border-radius: 3px;
background: #FFF;
    display: inline-block;
    color: #0B0D23; 
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 18px; /* 66.667% */
padding: 9px  ; 
text-align: center;
width: 144px; 
}
.mb-30{
    margin-bottom: 30px;
}




.lead_source h5 {
    color: #0B0D23;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-align: center; 
    margin: 10px 0;
}

 
.assigned p {
    color: #0B0D23;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; 
}
.assigned p span {
    width: 38px;
    height: 38px; 
    line-height: 38px; 
    border-radius: 38px;
    background-color: #FFCCBC; 
margin-right: 5px;
    color: #51426F;
text-align: center; 
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 38px;  
display: inline-block;
}
 

.lead-top-details-block {
    padding: 22px 15px;
    border: 0;
    border-top: 0 !important;
    margin-right: 5px;
    min-height: 200px;
    border-radius: 3px;
    background: #F0F0F0;
}

.nameInitials{
    background: rgb(18,42,255);
    background: linear-gradient(151deg, rgba(18,42,255,1) 0%, rgba(190,47,184,1) 75%);
    width: 45px;
height: 45px;
color: #fff;
line-height: 39px;
}
.nameInitials svg{
    display: inline-block;
}
.lead-top-details-block-name .tileCellDiv h4 { 
    line-height: 45px;
}

.lead-top-details-block-name{
    margin-bottom: 27px;
}

.lead-table-cntr .MuiButton-containedPrimary{
    border-radius: 3px;
    background: #0B0D23;
    color: #FFF; 
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.15px;
    text-transform: capitalize;
}

.add-on{
    border-radius: 4px;
background: #0B0D23;
padding: 9px 15px;
color: #FFF; 
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 10px; /* 76.923% */
display: inline-block;
margin-right: 5px;
}
.last-on{
    border-radius: 4px;
    background: #A6E9A9;
padding: 9px 15px;
color: #FFF; 
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 10px; /* 76.923% */
display: inline-block;
margin-right: 5px;
}

.lead-top-contact-details p label{
    display: block;
    color: rgba(82, 82, 82, 0.65); 
font-size: 11px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 5px;
     

}

.lead-top-contact-details p svg{
    display: inline-block;
    margin-right: 5px;

}

.mb-50{
    margin-bottom: 70px;
}


.student-vari-block{
    border-radius: 3px;
    background: #0B0D23;
padding:  25px;    
}


.pad-10{
    padding: 10px 5px;
}

.vari-left{
    position: relative;
}

.vari-left-cap{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 50px 0px;
}

.vari-left-cap h5{
    color: #FFF; 
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 10px; /* 58.824% */
}
.vari-left-cap label{
    color: rgba(255, 255, 255, 0.65); 
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.vari-center  {
    padding:   30px ;
    width: 100%;
}
.vari-center span{
    color: rgba(255, 255, 255, 0.61); 
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 10px; /* 66.667% */
display: block;
margin-bottom: 34px;
}

.vari-center h4{
    color: #FFF; 
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 125% */
}
.vari-right{
    min-width: 135px;
}

.vari-right a{
    color: #FFF; 
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 10px; /* 76.923% */
padding: 13px 20px;
border-radius: 3px;
background: #353967;
padding: 13px 20px;
}


.page-title-block-content button{
    border-radius: 4px;
    background: #0B0D23 !important; 
    color: #FFF;
}
.page-title-block-content button svg{
    display: inline-block;
    margin-right: 17px;
}
.stage_track{
    margin: 28px 0 20px;
    border-radius: 64px;
background: var(--Neutral-Gray-20, #E0E0E0);
height: 12px;
position: relative;
}
.track-range{ 
    height: 12px;
    width: 20%; 
border-radius: 64px;
background: #0043CE; 
}
.stage_track ul  {
    text-align: center; 
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    top: 0;
 }
 
 .stage_track ul li {
    display: inline-block;
    width: 20%;
    height: 12px;
    /* color: #FFF; */
    /* font-size: 13px; */
    /* font-style: normal; */
    /* font-weight: 600; */
    /* line-height: 16px; */
    /* letter-spacing: -0.13px; */
    position: relative;
    top: -5px;
}
.stage_track ul li::after {
    content: "";
    position: absolute;
    top: 3px;
    right: calc(50% - 3px);
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background-color: #0043CE;
    z-index: 2;
}

.stage_track ul li.opened::after { 
    background-color: #ffffff;
}
.stage_track_cntr ul.tract-names  {
    text-align: center;   
    width: 100%; 
 }
 
 .stage_track_cntr ul.tract-names li {
    display: inline-block;
    width: 20%;
    height: 12px;
     color: #FFF; 
     font-size: 13px; 
    font-style: normal; 
     font-weight: 600; 
     line-height: 16px; 
    letter-spacing: -0.13px; 
    position: relative;
    top: -5px;
}
.add_lead_btn{
    border-radius: 3px;
background: #0B0D23;
color: #FFF; 
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.15px;
text-transform: capitalize;
}

.add_lead_btn svg{
  margin-right: 5px;
}
.page-title-block-content .assign_btn{
    border-radius: 4px;
    background: #0047CD !important;
    color: #FFF  !important; 
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.15px;
    text-transform: capitalize;
}
.page-title-block-content .assign_btn svg{
    margin-right: 5px;
  }


  .table-pagination .navbar-left ul li{
    color: #0B0D23; 
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 38px; /* 66.667% */
}
.table-pagination .navbar-left ul li button{
    margin-right: 10px;
}


.table-pagination .navbar-left ul li button#UserPop span {
    width: 38px;
    height: 38px; 
    line-height: 38px; 
    background-color: #D9BCFF; 

    color: #51426F;
text-align: center; 
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 38px; /* 53.333% */
}

.table-pagination .navbar-left{
position: relative;
}

.table-pagination .navbar-left .popup-content {
    /* display: none; */ 
    right: unset; 
    min-width: 250px;  
    left: 0;
    bottom: 100%;
}

.table-pagination{
    background: rgba(255, 255, 255, 0.61);
backdrop-filter: blur(13.100000381469727px);
padding: 15px;
position: sticky;
    bottom: 0;
}

.select-row-box{
    border-radius: 3px;
    background: #FFF;
    padding: 5px;
    margin-right: 15px;
    color: #0B0D23; 
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 10px; /* 66.667% */
}


.table-pagination .MuiInputBase-input {
    border-radius: 3px;
background: #0B0D23;
color: #F9F9F9;
text-align: center; 
font-size: 12px;
font-style: normal;
font-weight: 600; 
padding: 10.5px 14px;
}


.table-pagination .MuiInputBase-root .MuiSvgIcon-root{
    color: #fff;
    opacity: 1;
}

.table-pagination .MuiInputBase-root{
    border: 0;
    border-radius: unset;
    margin-right: 5px;
}


.table-pagination .MuiPagination-ul li button{
    color:   #212B36 ;
text-align: center; 
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 166.667% */
}



.table-pagination .MuiPagination-ul li button.Mui-selected{
    color:   #fff ;
    background-color: #212B36;
}

.table-pagination .MuiPagination-ul li button.MuiPaginationItem-previousNext.Mui-disabled{ 
    background-color: #C5CCD3;
}
.lead-table-cntr{
    overflow: unset;
}

.lead-det-cnt{
    margin-top: 25px;
}
.log-out-cntr{
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px solid #333;

}




.app_tab_cntr thead tr th svg{
    display: inline-block;
    margin-right: 8px;
}

.app_tab_cntr table{
    border-collapse: separate;
    border-spacing: 0 10px;
    border: 0;
}

.app_tab_cntr tbody td{
    border: 0;
    color: #0B0D23;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 66.667% */
}
.app_tab_cntr tbody td:last-child {
    text-align: right;
  }

  .app_tab_cntr tbody td:last-child svg {
    display: inline-block;
    margin-left: 10px;
  }

.app_tab_cntr tbody tr{
    border-radius: 3px;
background:  #FFF;
margin:10px 0;
}






@media (max-width: 1400px) {

    .vari-center span { 
        margin-bottom: 14px;
    }
    .vari-center h4 { 
        font-size: 16px; 
    }
    .lead-communication-status .btn { 
        font-size: 12px; 
        line-height: 18px;
        padding: 9px 15px; 
    }
    .lead-communication-status ul li p { 
        font-size: 14px; 
    }
}
