@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Black.eot');
    src: url('fonts/Inter-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/Inter-Black.woff2') format('woff2'),
        url('fonts/Inter-Black.woff') format('woff'),
        url('fonts/Inter-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Bold.eot');
    src: url('fonts/Inter-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Inter-Bold.woff2') format('woff2'),
        url('fonts/Inter-Bold.woff') format('woff'),
        url('fonts/Inter-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-ExtraBold.eot');
    src: url('fonts/Inter-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Inter-ExtraBold.woff2') format('woff2'),
        url('fonts/Inter-ExtraBold.woff') format('woff'),
        url('fonts/Inter-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-ExtraLight.eot');
    src: url('fonts/Inter-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('fonts/Inter-ExtraLight.woff2') format('woff2'),
        url('fonts/Inter-ExtraLight.woff') format('woff'),
        url('fonts/Inter-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Medium.eot');
    src: url('fonts/Inter-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Inter-Medium.woff2') format('woff2'),
        url('fonts/Inter-Medium.woff') format('woff'),
        url('fonts/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Light.eot');
    src: url('fonts/Inter-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Inter-Light.woff2') format('woff2'),
        url('fonts/Inter-Light.woff') format('woff'),
        url('fonts/Inter-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Regular.eot');
    src: url('fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Inter-Regular.woff2') format('woff2'),
        url('fonts/Inter-Regular.woff') format('woff'),
        url('fonts/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-SemiBold.eot');
    src: url('fonts/Inter-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Inter-SemiBold.woff2') format('woff2'),
        url('fonts/Inter-SemiBold.woff') format('woff'),
        url('fonts/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-Thin.eot');
    src: url('fonts/Inter-Thin.eot?#iefix') format('embedded-opentype'),
        url('fonts/Inter-Thin.woff2') format('woff2'),
        url('fonts/Inter-Thin.woff') format('woff'),
        url('fonts/Inter-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}




.w-100 {
    width: 100%;
}

button,
a {
    cursor: pointer;
}

/***** flex *****/

.justify-content-between {
    justify-content: space-between !important;
}

.justify-content-end {
    justify-content: end !important;
}

.d-flex {
    display: flex !important;
}

.align-items-center {
    align-items: center !important;
}

.align-items-end {
    align-items: end !important;
}

.flex-column-reverse {
    flex-direction: column-reverse !important;
}

.justify-content-center {
    justify-content: center !important
}

.flex-column {
    flex-direction: column !important;
}

.align-content-between {
    align-content: space-between !important;
}

.flex-wrap {
    flex-wrap: wrap !important;
}

.body-active .sidebar.active .mainList>li a svg {
    display: inline-block;
    margin-left: 0px;
    transition: all .3s;


}

.sidebar.active .mainList>li a svg {
    margin-left: 17px;
    transition: all .3s;
    padding: 5px;
    width: 30px;
    height: 30px;
}

.sidebar.active .mainList>li.sidebar-selected a svg {
    background: transparent;
    border-radius: 4px;
    border: 1px solid #5e6077;
}


.sidebar.sidebar-mask.active:hover .mainList>li a svg {
    margin-left: 0px;
}

.custom-editor-container {
    max-height: 300px !important;
    border: 1px solid gray !important;
    /* overflow-y: auto; */
}

.rdw-editor-wrapper {
    height: 400px !important;
    border: 1px solid gray !important;
    overflow: hidden !important
}

.logo-text-wrap {
    display: none;
}

.logo_sub {
    margin-top: 8px;
    color: rgba(255, 255, 255, 0.65);
    font-family: "Inter", sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    display: none;
}

.body-active .logo_sub {
    display: block;
}


.body-active .logo-text-wrap {
    display: block;
}

.logo-text-small {
    display: block;
    font-weight: 600;
    font-size: 31px;
    text-align: left;
    line-height: 21px;
}
.logo-text-small .d-flex.align-items-center {
    margin-top: 6px;
}

.body-active .logo-text-small {
    display: none;
}


.sidebar-selected i {
    color: #122AFF;
    transition: all .3s;
}

.mainList li i {
    transition: all .3s;
}

.mainList li:hover i {
    color: #122AFF;
}

.page-title-block-content button.search_btn {
    border-radius: 4px;
    border: 1px solid #282B4D;
    background: #fff !important;
    padding: 12px;
    margin-right: 15px;
    width: 45px;
    height: 45px;
    min-width: 45px;
}

.page-title-block-content button.search_btn svg {
    margin-right: 0;
}

.lead-table-cntr thead svg {
    opacity: 1;
}

.lead-table-cntr thead svg path {
    fill: #fff;
}

.lead-table-cntr tbody {
    border-radius: 3px;
    background: #F0F0F0;
}

.lead-table-cntr thead th {
    font-weight: 400;
    padding: 20px 10px;
    line-height: 18px;
    /* 66.667% */
}

.lead-table-cntr tbody th {
    color: #0B0D23;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    padding: 5px 10px;
    line-height: 18px;
    /* 66.667% */
}

.lead-table-cntr tbody th a {
    text-decoration: none;
    color: #0B0D23 !important;
    text-decoration: none;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    padding: 20px 10px;
}

.lead-table-cntr tbody td {
    color: #0B0D23 !important;
    text-decoration: none;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    padding: 20px 10px;
}

span.assigned-span {
    background: #FFCCBC;
    width: 29px;
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #51426F;
    font-weight: 600;
    font-size: 12px;
}

.table-custom-tr:nth-child(2) .assigned-colm span.assigned-span{
    background: #BCDBFF;
}
.table-custom-tr:nth-child(3) .assigned-colm span.assigned-span{
    background: #D9BCFF;
}
.table-custom-tr:nth-child(4) .assigned-colm span.assigned-span{
    background: #FFF8BC;
}
.table-custom-tr:nth-child(5) .assigned-colm span.assigned-span{
    background: #BCFFBE;
}
.table-custom-tr:nth-child(6) .assigned-colm span.assigned-span{
    background: #FFCCBC;
}
.table-custom-tr:nth-child(7) .assigned-colm span.assigned-span{
    background: #FFF8BC;
}
.table-custom-tr:nth-child(8) .assigned-colm span.assigned-span{
    background: #BCDBFF;
}
.table-custom-tr:nth-child(9) .assigned-colm span.assigned-span{
    background: #FFCCBC;
}
.table-custom-tr:nth-child(10) .assigned-colm span.assigned-span{
    background: #BCDBFF;
}
.table-custom-tr:nth-child(11) .assigned-colm span.assigned-span{
    background: #BCFFBE;
}


span.stage-span {
    border-radius: 30px;
    border: 1px solid #ECC9BE;
    background: #FFDED3;
    color: #0B0D23;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    padding: 8px 14px;
}
.table-custom-tr:nth-child(2) .stage-colm span.stage-span{
    border-radius: 30px;
    border: 1px solid #A1CEDD;
    background: #E3F8FF;
}
.table-custom-tr:nth-child(3) .stage-colm span.stage-span{
    border-radius: 30px;
    border: 1px solid #FFCA63;
    background: #FFF8EA;
}
.table-custom-tr:nth-child(4) .stage-colm span.stage-span{
    border-radius: 30px;
    border: 1px solid #A6E9A9;
    background: #E4FFE5;
}
.table-custom-tr:nth-child(5) .stage-colm span.stage-span{
    border-radius: 30px;
    border: 1px solid #4ECED6;
    background: #E4FDFF;
}
.table-custom-tr:nth-child(6) .stage-colm span.stage-span{
    border-radius: 30px;
    border: 1px solid #FFCA63;
    background: #FFF8EA;
}
.table-custom-tr:nth-child(7) .stage-colm span.stage-span{
    border-radius: 30px;
    border: 1px solid #A1CEDD;
    background: #E3F8FF;
}
.table-custom-tr:nth-child(8) .stage-colm span.stage-span{
    border-radius: 30px;
    border: 1px solid #ECC9BE;
    background: #FFDED3;
}
.table-custom-tr:nth-child(9) .stage-colm span.stage-span{
    border-radius: 30px;
    border: 1px solid #A6E9A9;
    background: #E4FFE5;
}
.table-custom-tr:nth-child(10) .stage-colm span.stage-span{
    border-radius: 30px;
    border: 1px solid #A1CEDD;
    background: #E3F8FF;
}
.table-custom-tr:nth-child(11) .stage-colm span.stage-span{
    border-radius: 30px;
    border: 1px solid #FFCA63;
    background: #FFF8EA;
}

.assigned-colm {
    display: flex;
    align-items: center;
}
.not_assigned {
    border-radius: 28px;
    border: 1px solid #C1C1C1;
    background: #FFFCFD;
    color: #0B0D23;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}


.lead-table-cntr tbody td button {
    color: #0B0D23 !important;
    text-decoration: none;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
}

.lead-table-cntr tbody td svg path {
    fill: #0B0D23 !important;

}

.lead-table-cntr .css-13cymwt-control {
    border-radius: 3px;
    background: #F0F0F0;
    border-color: #F0F0F0;
}

.lead-table-cntr .MuiInputBase-input {
    border-radius: 3px;
    background: #F0F0F0;
}


.lead-table-cntr .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border-color: #F0F0F0;
}

.lead-table-cntr .css-jtlhu6-MuiTablePagination-root:last-child {
    background: rgba(255, 255, 255, 0.61);
    backdrop-filter: blur(13.100000381469727px);
}

.lead-table-cntr .css-1mxz8qt-MuiPaper-root {
    background: #F0F0F0;
}




.lead-table-cntr .form-group {
    display: block;
}

.lead-table-cntr table .form-group input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

.lead-table-cntr table .form-group label {
    position: relative;
    cursor: pointer;
}

.lead-table-cntr table .form-group label:before {
    content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid #8C8E90;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 8px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    background: #fff;
}

.lead-table-cntr table .form-group input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: 4px;
    left: 7px;
    width: 5px;
    height: 10px;
    border: solid #4D4AEA;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.lead-table-cntr table .form-group input:checked+label:before {
    border: 1px solid #4D4AEA;
}

.lead-det-cnt .MuiBox-root {
    border-radius: 3px;
    background: #F0F0F0;
}


.lead-tab-item svg {
    margin: 0;
}

.lead-details-list {
    display: block;
    color: #0B0D23;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin: 25px 0;
    border-bottom: 1px solid #E7E7E7;
    padding-bottom: 20px;
    margin-bottom: 0;
}
.timeline-content-block-item {
    padding: 20px 0;
}

.TimelineOppositeContent-block {
    color: #525252;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px; /* 76.923% */
    border-radius: 51px;
    padding: 9px 12px;
    width: fit-content;
    transition: .5s;
    margin: 0px auto;
}


.TimelineOppositeContent-block:hover{
    background: #232648;
    color: #FFF;
    transition: .5s;
}

span.timeline-content-content-span {
    background: #0047CD;
    width: 18px;
    height: 18px;
    border-radius: 50%;
}
.css-1ami7lv-MuiTimelineConnector-root {
    width: 2px;
    background-color: #0032FFCC;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.timeline-content-content {
    justify-content: space-between;
    flex-direction: row;
}

.TimelineItemClass:nth-child(2) .timeline-content-content-block .timeline-content-content span.timeline-content-content-span{
    background: #6ED772;
}
.TimelineItemClass:nth-child(3) .timeline-content-content-block .timeline-content-content span.timeline-content-content-span{
    background: #4ECED6;
}
.TimelineItemClass:nth-child(4) .timeline-content-content-block .timeline-content-content span.timeline-content-content-span{
    background: #FF784D;
}
.TimelineItemClass:nth-child(5) .timeline-content-content-block .timeline-content-content span.timeline-content-content-span{
    background: #EA68FF;
}
.TimelineItemClass:nth-child(6) .timeline-content-content-block .timeline-content-content span.timeline-content-content-span{
    background: #ECECEC;
}
.TimelineItemClass:nth-child(7) .timeline-content-content-block .timeline-content-content span.timeline-content-content-span{
    background: #BCDBFF;
}
.TimelineItemClass:nth-child(8) .timeline-content-content-block .timeline-content-content span.timeline-content-content-span{
    background: #0032FFCC;
}
.TimelineItemClass:nth-child(9) .timeline-content-content-block .timeline-content-content span.timeline-content-content-span{
    background: #6ED772;
}
.TimelineItemClass:nth-child(10) .timeline-content-content-block .timeline-content-content span.timeline-content-content-span{
    background: #FF784D;
}
.TimelineItemClass:nth-child(11) .timeline-content-content-block .timeline-content-content span.timeline-content-content-span{
    background: #EA68FF;
}
.TimelineItemClass:nth-child(12) .timeline-content-content-block .timeline-content-content span.timeline-content-content-span{
    background: #4ECED6;
}

img.TimelineDotIcon {
    width: 18px;
    height: 18px;
    object-fit: contain;
    position: absolute;
    top: -5px;
}
svg.timeline-content-content-svg {
    position: absolute;
    top: 50%;
    left: -9px;
    transform: translate(0px, -50%);
}

.lead-details-list label {
    display: block;
    color: rgba(82, 82, 82, 0.65);
    font-size: 13px;
    font-style: normal;
    font-weight: 400 !important;
    line-height: normal;
    margin-bottom: 5px;
}

.timeline-content-block-item {
    border-radius: 3px;
    padding: 20px 25px;
}
.lead-details-list svg {
    display: inline-block;
    margin-right: 5px;
}
.timeline-content-block-item h4 {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    margin-top: 5px;
}

.pad-25{
    padding-left: 25px;
    padding-right: 25px;
}

.mar-25{
    margin-right: -25px;
    margin-left: -25px;
}
.lead-tabpanel-content-block-title {
    display: block;
}


.lead-tabpanel-content-block-title .lead-details-list {
    margin: 15px 0;
}

.lead-det-cnt .edit-btn {
    display: block;
    margin: 0;
    margin-left: auto;
    width: 152px;
    border-radius: 3px;
    background: #FFF;
    padding: 7px 20px;
    color: #0B0D23;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    /* 66.667% */
}

.lead-det-cnt .edit-btn svg {
    display: inline-block;
    margin-right: 5px;
}

.lead-communication-status {
    width: 100%;
    padding: 0;
    min-height: unset;
    margin: 45px 0 0;
}

.lead-communication-status h4 {
    color: #0B0D23;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 22px;
    line-height: 10px;
    /* 66.667% */
    position: relative;
}

.lead-communication-status h4 svg.lead-ic {
    display: inline-block;
    margin-right: 2px;
    width: 24px;
    height: 24px;
    padding: 2px;
}
.lead-tabpanel-content-item {
    background: #FFF;
    padding: 35px 30px;
}
.lead-detail-title {
    color: #898989;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    display: flex;
    align-items: center;
}
a.edit-btn {
    display: flex;
    align-items: center;
    width: auto !important;
    padding: 7px 10px !important;
}

.lead-communication-status h4 .hide-sec {
    position: absolute;
    right: 0;
    cursor: pointer;
    top: 3px;
}

.lead-score-block h4{
    text-align: center;
    justify-content: center;
    color: rgba(82, 82, 82, 0.70) !important;
    font-family: Inter;
    font-size: 11px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    line-height: normal;
  }

  .lead-score-block {
    padding: 35px 25px;
}


.timeline-content-block-item-content-block .timeline-content-block-item-block{
    border-radius: var(--radi-mlg, 8px);
    border: 1px solid #FFF;
    background: linear-gradient(180deg, #C0E4C1 0%, #FFF 100%);
}
.timeline-content-block-item-content-block:nth-child(2) .timeline-content-block-item-block{
    border-radius: var(--radi-mlg, 8px);
    border: 1px solid #FFF;
    background: linear-gradient(180deg, #D9BCFF -9.29%, #FFF 100%);
}

.timeline-content-block-item-content-block:nth-child(3) .timeline-content-block-item-block{
    border-radius: var(--radi-mlg, 8px);
    border: 1px solid #FFF;
    background: linear-gradient(180deg, #FFD9C3 0%, #FFF 100%);
}

.communication-log-block-tab-block {
    border-radius: 5px;
    background: #232648;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.communication-log-attachments-tab {
    display: flex;
    align-items: center;
}

.communication-log-attachments-tab .communication-log-item{
    margin-bottom: 0px;
}
.communication-log-attachments-tab .lead-score-block-tab{
    border-top: 0px;
    border: 0px !important;
    border-radius: 5px;
    color: #DADDFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px; /* 66.667% */
}
.lead-tab-active {
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 10px;
    border-top: 0px;
    border: 0px !important;
    border-radius: 5px;
    background: #0047CD;
    padding: 12px 20px;
}
.Request-Document-btn {
    border-radius: 3px;
    background: #FFF;
    color: #0B0D23;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    padding: 6px 10px;
}
.no-follw-up-block.document-block {
    background-color: #FFF;
    padding: 20px;
}
.search-document-block {
    border-radius: 3px;
    border: 1px solid #E4E4E4;
    padding: 15px;
}
.search-document-block-input {
    border-radius: 3px;
    background: #F0F0F0;
    padding: 10px 15px;
    position: relative;
}
.search-document-block-input input {
    color: #525252;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    background: transparent;
    width: 100%;
}
.search-document-block-input input:focus{
    outline: none;
}
.search-document-block-input {
    border-radius: 3px;
    background: #F0F0F0;
    padding: 10px 15px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
ul.search-document-block-pred li {
    color: #0B0D23;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    display: flex;
    align-items: center;
    gap: 7px;
    border-radius: 3px;
    border: 1px solid #E4E4E4;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .25s;
    display: flex;
    align-items: center;
    position: relative;
}
ul.search-document-block-pred li div {
    color: #898989;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    position: absolute;
    right: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
}
ul.search-document-block-pred {
    height: 250px;
    overflow: auto;
    scrollbar-color: rgba(145, 151, 179, 0.34) rgba(145, 151, 179, 0.34);
    scrollbar-width: thin;
}
ul.search-document-block-pred li div span {
    background: #A4B6FF;
    width: 10px;
    height: 10px;
    display: flex;
    border-radius: 50%;
}
.add-document-block {
    border-radius: var(--radi-mlg, 8px);
    border: 1px dashed var(--strokeColor-primary, #1849D6);
    background: var(--bgColor-light, #FFF);
    margin-top: 18px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.add-document-block img {
    margin: 0px auto;
    width: 50px;
    margin-bottom: 15px;
}
.add-document-block h3 {
    color: var(--neutral-nr11, #0B0B0B);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    cursor: pointer;
}
.add-document-block h3 span{
    color: #1849D6;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
    padding-left: 5px;
}
.add-document-block h4 {
    color: var(--neutral-nr07, #6D6D6D);
    text-align: center;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin: 20px 0 0;
}
.doc-preview-block {
    border-radius: 3px;
    border: 1px solid #E4E4E4;
    padding: 30px 60px;
}
.doc-preview-block img {
    width: 100%;
    max-width: 388px;
    height: 320px;
    object-fit: contain;
    margin: 0px auto;
}
.degree-block h2 {
    color: #0B0D23;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 10px;
}
.degree-block {
    border: 1px solid #D5D5D6;
    padding: 30px;
    border-top: 0;
}
.degree-btn {
    border-radius: 3px;
    background: #0047CD;
    color: #FFF !important;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.15px;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.Reject-btn{
    border-radius: 4px;
    background: #0B0D23;
    color: #FFF !important;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.15px;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.degree-btn:hover{
    background-color:#0B0D23!important; 
}
.Reject-btn:hover{
    background-color:#0047CD!important; 
}
.doc-req-icon.doc-request {
    border-radius: var(--radi-mlg, 8px);
    border: 1px solid #FFF;
    background: linear-gradient(180deg, #FFD9C3 0%, #FFF 100%);
    width: 107px;
    height: 106px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    margin-bottom: 20px;
}
.doc-preview-block h2 {
    color: #0B0D23;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.24px;
    margin-top: 32px;
}
.doc-preview-block span {
    color: var(--neutral-nr07, #6D6D6D);
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    display: block;
    margin-top: 10px;
    text-decoration: none !important;
}
.Mui-disabled {
    border-radius: 4px;
    background: #ECECEC;
    color: var(--neutral-nr07, #6D6D6D) !important;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    letter-spacing: -0.15px;
}
.Mui-disabled svg path{
    stroke: #9A9A9A;
}

.degree-btn-block {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}
.app-tab-title {
    color: #0B0D23;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.all_act_cntr.application {
    margin-top: 0;
}
.application-tr div {
    color: #0B0D23;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
}

ul.search-document-block-pred li:hover{
    border-radius: 3px;
    border: 1px solid #232648;
    background: #232648;
    transition: .25s;
    color: #FFF;
}
ul.search-document-block-pred li.Active{
    background-color: #232648 !important;
    transition: .25s;
    color: #fff !important;
}
ul.search-document-block-pred li:hover svg path{
    stroke: #fff;
}
ul.search-document-block-pred li.Active  svg path{
    stroke: #fff;
}

.communication-log-attachments h3 {
    color: #DADDFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 10px;
}
.communication-log-block-tab-block.tab-block {
    padding: 8px 24px;
}

.lead-communication-status-bg {
    border-radius: 3px;
    background: #F0F0F0;
    padding: 20px;
    width: 100%;
    min-height: 170px;
}

.lead-communication-status-bg.lead-hit-auto {
    min-height: unset;
    padding: 10px 20px;
}
.lead-detail-title.notes {
    width: 100%;
    justify-content: space-between;
}

.commu-txt ul li {
    display: inline-block;
    width: 50%;
    color: #0B0D23;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 10px;
    /* 62.5% */
}
.timeline-content-content.notes-block {
    border-left: 3px solid #FFCCBC;
}

.commu-txt ul li h3 {
    color: #0B0D23;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 10px;
    /* 66.667% */
    margin-bottom: 23px;
}
span.note-span {
    color: #525252;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    border-radius: 3px;
    border: 1px solid #E4E4E4;
    display: block;
    padding: 4px 8px;
    height: fit-content;
}
.notes-block-content {
    display: block;
}
.notes-block-content p {
    color: #0B0D23;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    margin-top: 5px;
}
.note-createdby {
    border-left: 1px solid #F0F0F0;
    margin-top: -15px;
    margin-bottom: -15px;
    padding: 25px;
    width: 25%;
}
span.profile-db {
    background: #6ED772;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #51426F;
    font-weight: 600;
    font-size: 12px;
    margin-right: 10px;
}
.note-createdby div p {
    color: rgba(82, 82, 82, 0.65) !important;
    font-family: Inter;
    font-size: 11px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.note-createdby div p{
    color: #0B0D23;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 10px; /* 71.429% */
}

.commu-txt ul li p {
    color: #0B0D23;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin: 13px 0 20px;
}

.commu-txt ul li span {
    color: rgba(82, 82, 82, 0.70);
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-block;
    margin-right: 15px;
}

.commu-txt ul li span b {
    color: #0B0D23;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    display: inline-block;
    margin-right: 5px;
    position: relative;
    top: 1px;
}

.commu-txt .btn {
    border-radius: 3px;
    background: #FFF;
    display: inline-block;
    color: #0B0D23;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    /* 66.667% */
    padding: 9px;
    margin-top: 19px;
    text-align: center;
    width: 144px;
}




.followup span {
    color: rgba(82, 82, 82, 0.65);
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-block;
}

.followup h5 {
    color: #0B0D23;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
    /* 100% */
    margin-top: 9px;
}

.followup .btn {
    border-radius: 3px;
    background: #FFF;
    display: inline-block;
    color: #0B0D23;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    /* 66.667% */
    padding: 9px;
    text-align: center;
    width: 144px;
}

.mb-30 {
    margin-bottom: 30px;
}




.lead_source h5 {
    color: #0B0D23;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    margin: 10px 0;
}


.assigned p {
    color: #0B0D23;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}

.assigned p span {
    width: 38px;
    height: 38px;
    line-height: 38px;
    border-radius: 38px;
    background-color: #FFCCBC;
    margin-right: 5px;
    color: #51426F;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    display: inline-block;
}


.lead-top-details-block {
    padding: 22px 15px;
    border: 0;
    border-top: 0 !important;
    margin-right: 5px;
    min-height: 200px;
    border-radius: 3px;
    background: #F0F0F0;
}

.nameInitials {
    background: rgb(18, 42, 255);
    background: linear-gradient(145deg, #122AFF 20.62%, #EA68FF 93.46%, #BE2FB8 167.78%);
    width: 45px;
    height: 45px;
    color: #fff;
    line-height: 39px;
}

.nameInitials svg {
    display: inline-block;
}

.lead-top-details-block-name .tileCellDiv h4 {
    line-height: 45px;
}

.lead-top-details-block-name {
    margin-bottom: 27px;
}

.lead-table-cntr .MuiButton-containedPrimary {
    border-radius: 3px;
    background: #0B0D23;
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.15px;
    text-transform: capitalize;
}

.add-on {
    border-radius: 4px;
    background: #0B0D23;
    padding: 9px 15px;
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    /* 76.923% */
    display: inline-block;
    margin-right: 5px;
}

.last-on {
    border-radius: 4px;
    background: #A6E9A9;
    padding: 9px 15px;
    color: #0B0D23;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    /* 76.923% */
    display: inline-block;
    margin-right: 5px;
}

.lead-top-contact-details p label {
    display: block;
    color: rgba(82, 82, 82, 0.65);
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px;


}

.lead-top-contact-details p svg {
    display: inline-block;
    margin-right: 5px;

}

.mb-50 {
    margin-bottom: 70px;
}


.student-vari-block {
    border-radius: 3px;
    background: #232648;
    padding: 25px;
}


.point {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .round {
    transform: rotate(-90deg);
    transition: all 1s ease-in-out;
    
    /* SVG */
    fill: none;
    stroke: red;
    stroke-width: 8;
    stroke-linecap: round;
    stroke-dasharray: 0 999;
  }
  


.pad-10 {
    padding: 10px 5px;
}

.vari-left {
    position: relative;
}

.vari-left-cap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 50px 0px;
}

.vari-left-cap h5 {
    color: #FFF;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 10px;
    /* 58.824% */
}

.vari-left-cap label {
    color: rgba(255, 255, 255, 0.65);
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.vari-center {
    padding: 30px;
    width: 100%;
}

.vari-center span {
    color: rgba(255, 255, 255, 0.61);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    /* 66.667% */
    display: block;
    margin-bottom: 34px;
}

.vari-center h4 {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 125% */
}

.vari-right {
    min-width: 135px;
}

.vari-right a {
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    /* 76.923% */
    padding: 13px 20px;
    border-radius: 3px;
    background: #353967;
    padding: 13px 20px;
}


.page-title-block-content button {
    border-radius: 4px;
    background: #0B0D23 !important;
    color: #FFF;
}

.page-title-block-content button svg {
    display: inline-block;
    margin-right: 17px;
}

.stage_track {
    margin: 28px 0 20px;
    border-radius: 64px;
    background: var(--Neutral-Gray-20, #E0E0E0);
    height: 12px;
    position: relative;
}

.track-range {
    height: 12px;
    width: 20%;
    border-radius: 64px;
    background: #0043CE;
}

.stage_track ul {
    text-align: center;
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    top: 0;
}

.stage_track ul li {
    display: inline-block;
    width: 20%;
    height: 12px;
    /* color: #FFF; */
    /* font-size: 13px; */
    /* font-style: normal; */
    /* font-weight: 600; */
    /* line-height: 16px; */
    /* letter-spacing: -0.13px; */
    position: relative;
    top: -5px;
}

.stage_track ul li::after {
    content: "";
    position: absolute;
    top: 3px;
    right: calc(50% - 3px);
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background-color: #0043CE;
    z-index: 2;
}

.stage_track ul li.opened::after {
    background-color: #ffffff;
}

.stage_track_cntr ul.tract-names {
    text-align: center;
    width: 100%;
}

.stage_track_cntr ul.tract-names li {
    display: inline-block;
    width: 20%;
    height: 12px;
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: -0.13px;
    position: relative;
    top: -5px;
}

.add_lead_btn {
    border-radius: 3px;
    background: #0B0D23;
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.15px;
    text-transform: capitalize;
}

.add_lead_btn svg {
    margin-right: 5px;
}

.page-title-block-content .assign_btn {
    border-radius: 4px;
    background: #213d79 !important;
    color: #FFF !important;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.15px;
    text-transform: capitalize;
    height: 45px;
}

.page-title-block-content .assign_btn svg {
    margin: 0 5px;
}


.table-pagination .navbar-left ul li {
    color: #0B0D23;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    /* 66.667% */
}

.table-pagination .navbar-left ul li button {
    margin-right: 10px;
}


.table-pagination .navbar-left ul li button#UserPop span {
    width: 38px;
    height: 38px;
    line-height: 38px;
    background-color: #D9BCFF;

    color: #51426F;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    /* 53.333% */
}

.table-pagination .navbar-left {
    position: relative;
}

.table-pagination .navbar-left .popup-content {
    /* display: none; */
    right: unset;
    min-width: 250px;
    left: 0;
    bottom: 100%;
}

.table-pagination {
    background: rgba(255, 255, 255, 0.61);
    backdrop-filter: blur(13.100000381469727px);
    padding: 15px 0;
}

.select-row-box {
    border-radius: 3px;
    background: #FFF;
    padding: 5px;
    margin-right: 15px;
    color: #0B0D23;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    /* 66.667% */
}


.table-pagination .MuiInputBase-input {
    border-radius: 3px;
    background: #0B0D23;
    color: #F9F9F9;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    padding: 10.5px 14px;
}


.table-pagination .MuiInputBase-root .MuiSvgIcon-root {
    color: #fff;
    opacity: 1;
}

.table-pagination .MuiInputBase-root {
    border: 0;
    border-radius: unset;
    margin-right: 5px;
}


.table-pagination .MuiPagination-ul li button {
    color: #212B36;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 166.667% */
}



.table-pagination .MuiPagination-ul li button.Mui-selected {
    color: #fff;
    background-color: #212B36;
}

.table-pagination .MuiPagination-ul li button.MuiPaginationItem-previousNext.Mui-disabled {
    background-color: #C5CCD3;
}

.lead-table-cntr {
    overflow: unset;
}

.lead-det-cnt {
    margin-top: 25px;
}

.log-out-cntr {
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px solid #333;

}




.app_tab_cntr thead tr th svg {
    display: inline-block;
    margin-right: 8px;
}

.app_tab_cntr table {
    border-collapse: separate;
    border-spacing: 0 10px;
    border: 0;
}

.app_tab_cntr tbody td {
    border: 0;
    color: #0B0D23;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 66.667% */
}

.app_tab_cntr tbody td:last-child {
    text-align: right;
}

.app_tab_cntr tbody td:last-child svg {
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}
.all_act_cntr.application {
    justify-content: space-between;
}
.Defer-Intake {
    border-radius: 4px;
    background: #EEF6FF !important;
}
.application-btn.Mail-University{
    border-radius: 4px;
    background: #CEF7D0;
}
.edit-btn-outline {
    border-radius: 3px;
    border: 1px solid #E4E4E4;
    background: transparent !important;
}

.app_tab_cntr tbody tr {
    border-radius: 3px;
    background: #FFF;
    margin: 10px 0;
}
.all_act_cntr.application {
    display: flex;
}

.appl_act_cntr {
    padding: 20px;
    background: #FFF;
    border-radius: 0 0 3px 3px;
    position: relative;
    top: -10px;
    border-top: 1px solid rgba(224, 224, 224, 1);
}

.app_list {
    border-radius: 3px;
    background: #EEF6FF;
    padding: 18px;
}

.app_list h3 {
    color: #0B0D23;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 10px;
    /* 76.923% */
    margin-bottom: 20px;
}

.app_list h3 svg {
    display: inline-block;
}

.app_list ul li {
    display: inline-block;
    width: 50%;
    margin-bottom: 10px;
    color: #0B0D23;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 10px;
    /* 76.923% */
}

.app_list ul li span {
    border-radius: 4px;
    background: #0B0D23;
    color: var(--icon-color, #FFF);
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    /* 76.923% */
    padding: 10px;
    width: 92px;
    text-align: center;
    display: inline-block;
}

.app_list ul li span.spn2 {
    background: #A6E9A9;
    color: var(--icon-color, #0B0D23);
}

.app_list button {
    display: inline-block;
    margin-top: 50px;
    color: #0B0D23;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 0 !important;
}

.app_list button svg {
    display: inline-block;

}


.app_list .stu-doc-item {
    display: block;

    margin-bottom: 10px;
    color: #0B0D23;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 10px;
    /* 76.923% */
    padding: 10px;
    border-radius: 3px;
    background: var(--icon-color, #FFF);
}

.app_list .stu-doc-item a {
    cursor: pointer;
    color: #0B0D23;
}

.no-data-app {
    padding: 50px 0 16px;
    color: #6d6d6d;
    font-family: Inter;
    font-size: 13px;
    text-align: center;
}

.all_act_cntr {
    margin-top: 20px;
}

.all_act_cntr button {
    margin-right: 20px;
    border-radius: 4px;
    background: #EAEBFA;
    padding: 8px 10px;
    color: #0B0D23;
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.all_act_cntr button svg {
    display: inline-block;
    margin-right: 5px;
}

.filter_sec .form-group {
    position: relative;
    padding: 5px 0;
    padding-left: 40px;
    border-radius: 3px;
    background: #F0F0F0;
    border-color: #F0F0F0;
}

.filter_sec .form-group .sear-ic {
    position: absolute;
    left: 10px;
    top: 14px;
}

.lead-table-cntr .filter_sec {
    transition: all .3s;
    opacity: 0;
    height: 0;
    visibility: hidden;
}

input::placeholder{
    color: #0B0D23;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px; /* 71.429% */
}

.lead-table-cntr.active .filter_sec {
    height: 120px;
    margin-bottom: 30px;
    transition: all .3s;
    opacity: 1;
    visibility: visible;
}

.lead-table-cntr.app_type.active .filter_sec {
    height: 190px;
    margin-bottom: 30px;
    transition: all .3s;
    opacity: 1;
    visibility: visible;
}

.lead-table-cntr.app.active .filter_sec {
    height: 260px;
    margin-bottom: 30px;
    transition: all .3s;
    opacity: 1;
    visibility: visible;
}


.page-title-block {
    border-bottom: 1px solid rgba(40, 43, 77, 0.15);
}

.filter_sec .form-btn-cntr {
    border-radius: 3px;
    background: #213d79;
    padding: 7px 10px;
    text-align: right;
}

.form-btn-cntr .fill-btn {
    border: 0;
    background-color: unset;
    color: var(--icon-color, #FFF);
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form-btn-cntr .fill-btn-clear {
    border: 0;
    border-radius: 3px;
    background: #6B95E4;
    color: var(--icon-color, #FFF);
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.form-btn-cntr .fill-btn-clear svg {
    width: 12px;
    margin-right: 5px;
}

.modal_title {
    background: #0B0D23;
    padding: 20px;
}

.modal_title .back_modal {
    border-radius: 3px;
    background: #4A4D6E;
    padding: 3px;
    margin-right: 13px;
    display: inline-block;
}


.modal_title .back_modal_head {
    color: var(--icon-color, #FFF);
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 186.667% */
    display: inline-block;
}

.modal_title .back_modal_head svg {
    display: inline-block;
}

.modal_title p {
    color: rgba(255, 255, 255, 0.62);
    font-family: Inter;
    font-size: 11px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px;
    /* 181.818% */
}


body.body-active .footer {
    padding-left: 295px;
    transition: .5s;
}

.form-data-cntr {
    padding: 20px;
}

.form-data-cntr .form_group {
    border-radius: 3px;
    background: #F0F0F0;
    position: relative;
    padding: 7px 9px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.frm-nam-fild input {
    border-radius: 0;
    border: 0;
    box-shadow: none;
    background: unset;
    width: 100%;
    margin-left: 15px;

    color: #0B0D23;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px;
}

.frm-nam-fild .frm-nam-select {
    width: 210px;
    background-color: #fff;
    position: relative;
    padding-left: 30px;
}

.frm-nam-fild .frm-nam-select svg.author {
    position: absolute;
    left: 10px;
    top: 10px;
}

.frm-conn-stl svg {
    position: absolute;
    top: 0;
    width: 24px;
    height: 100%;
    padding: 0 2px;
}

.frm-conn-stl input {
    padding-left: 30px;
    line-height: 36px;
}

.form_group input {
    border-radius: 0;
    border: 0;
    box-shadow: none;
    background: unset;
    width: 100%;
    color: #0B0D23;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
}

.form_group input::placeholder{
    color: #0B0D23;
}

.form_group .react-tel-input .form-control {
    background: unset;
    border: 0;
}

.form_group .react-tel-input .flag-dropdown {

    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 3px 0 0 3px;
}

.form_group .css-13cymwt-control {
    background-color: unset !important;
    border: 0 !important;
    box-shadow: unset !important;
}

.form_group .MuiInputBase-root {
    background-color: unset !important;
    border: 0 !important;
    box-shadow: unset !important;
}



.form_group div button {
    width: 50px;
}


.form_group textarea {
    border-radius: 0;
    border: 0;
    box-shadow: none;
    background: unset;
    width: 100%;
    color: #0B0D23;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    height: 139px;
    line-height: 30px;
    padding: 10px;
}

.form-data-cntr .cancel-btn {
    border-radius: 3px;
    background: #000;
    padding: 14px 15px;
    color: var(--icon-color, #FFF);
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.15px;
    position: relative;
    width: 155px;
    text-align: left;
    display: inline-block;
    height: 50px;
}

.form-data-cntr .cancel-btn svg {

    position: absolute;
    top: 10px;
    right: 15px;
}

.form-data-cntr .save-btn {
    border-radius: 3px;
    background: #0047CD;
    padding: 14px 15px;
    color: var(--icon-color, #FFF);
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.15px;
    position: relative;
    margin-right: 15px;
    width: 155px;
    text-align: left;
    display: inline-block;
    height: 50px;
}

.form-data-cntr .save-btn svg {
    position: absolute;
    top: 10px;
    right: 15px;

}


.frm-sel-icon-stl svg.sel-icon {
    position: absolute;
    top: 0;
    left: 8px;
    width: 24px;
    height: 100%;
    padding: 0 2px;
}

.form-data-cntr .frm-sel-icon-stl {
    padding-left: 25px;
}

.frm-text-conn-stl textarea {
    padding-left: 35px;

}

.frm-text-conn-stl svg {
    position: absolute;
    top: 20px;
    left: 15px;
    width: 24px;

}

.login-page-sec {
    padding: 25px 0;
    max-width: 1440px;
    margin: 0 auto;
}

.log-left {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    min-width: 580px;
}

.log-left img {
    width: 582px;
    height: calc(882px - 50px);
    object-fit: cover;
}

.log-left-cap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 70px 50px;
}


.log-left-cap h3 {
    color: #FFF;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.4px;
    max-width: 240px;
    margin-top: 65px;
}

.log-right {

    min-width: 552px;
    width: 60%;
}

.log-rht-cntr {
    max-width: 552px;
    width: 100%;
    margin: 0 auto;
}

.log-rht-cntr h4 {
    color: #000;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.12px;
    text-transform: uppercase;
    margin-bottom: 100px;
    position: relative;
    padding-left: 105px;
}

.log-rht-cntr h4::after {
    content: "";
    position: absolute;
    left: 0;
    top: 8px;
    width: 98px;
    height: 1px;
    background-color: #000;
}

.log-rht-cntr h1 {
    color: #0B0D23;
    text-align: left;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    /* 100% */
    letter-spacing: -3.36px;
    margin-bottom: 16px;

}

.log-rht-cntr p {
    color: #6B6B6D;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 55px;
}

.log-rht-cntr h5 {
    color: #0B0D23;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.15px;
    margin-top: 150px;
}

.log-rht-cntr h5 svg {
    display: inline-block;
    margin-right: 6px;
}

.log-rht-cntr button {
    border-radius: 4px;
    background: #0047CD;
    text-align: left;
    color: var(--icon-color, #FFF);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 10px;
    /* 50% */
    padding: 28px;
    position: relative;
}

.log-rht-cntr button svg {
    position: absolute;
    right: 18px;
    top: 13px;
}

.log-rht-cntr .input-group {
    position: relative;
    margin-bottom: 37px;
}

.log-rht-cntr .input-group svg.lg-ic1 {
    position: absolute;
    left: 12px;
    top: 0;
    width: 20px;
    height: 100%;
}

.log-rht-cntr .input-group svg.lg-ic2 {
    position: absolute;
    right: 12px;
    top: 12px;
}

.log-rht-cntr input {
    padding-left: 50px;
}

.footer .userDropDown {
    line-height: 35px;
    color: #0B0D23;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    position: relative;
    justify-content: end;
}
.login-dropdown-list-item.dropdown-name-block div h3 {
    color: #4285f4 !important;
    font-size: 15px;
    text-align: left;
    line-height: 18px;
    font-weight: 500;
}

.footer .userDropDown button {
    margin-right: 5px;
}

.footer .userDropDown svg {
    fill: #C5CCD3;
}

.footer .userDropDown .log-out-cntr {
    border-left: 1px solid #C5CCD3;
}

@media (max-width: 1400px) {

    .vari-center span {
        margin-bottom: 14px;
    }

    .vari-center h4 {
        font-size: 16px;
    }

    .lead-communication-status .btn {
        font-size: 12px;
        line-height: 18px;
        padding: 9px 15px;
    }

    .lead-communication-status ul li p {
        font-size: 14px;
    }
}

.list-item-mail {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px; /* Add some space between list items */
}