@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@media (min-width: 1536px) {
  .container.container-width {
    max-width: 1400px;
  }

}

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.header {
  background-color: #fff;
  z-index: 10000;
  box-shadow: 0 5px 10px -6px #eee;
  border-bottom: 1px solid #eee;
  margin-bottom: 0;
  border-width: 0 0 1px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  border-color: #e7e7e7;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 50px;
  padding-left: 90px;
}

.container-fluid {
  width: 100%;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 200px;
  background-color: #555;
  color: #fff;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.footer {
  background-color: transparent;
  border-top: 1px solid rgba(183, 183, 183, 0.15);
  color: #fff;
  padding: 10px;
  text-align: center;
  position: sticky;
  bottom: 0;
  padding-left: 110px;
  z-index: 10;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7;
}

.login-container {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.brand-name {
  text-align: center;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  /* Set input width to 100% */
  padding: 15px 10px;
  border-radius: 3px;
  border: 1px solid #000;
  background-color: #fff !important;
}
.rs-input-group.rs-input-group-inside{
  background-color: transparent !important;
  border: 0px !important;
}
input#rs-\:R7dmkm\: {
  background: transparent;
}


button[type="submit"] {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #213d79;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}



/* Sidebar.css */

.sidebar .sidebar-quickLinks {
  display: none;
}

.sidebar.active {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}

.sidebar.expanded .tiny-sidebar {
  opacity: 0;
  transform: translate(-50px, 0);
  transition: all ease .1s;
  position: absolute;
  top: 10px;
}

.sidebar {
  min-width: 276px;
  max-width: 276px;
  background: #213d79;
  color: #fff;
  transition: all 0.3s;
  position: fixed;
  top: 0;
  height: 100%;
  left: 0;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  z-index: 1111;
  padding: 0;
}

.sidebar.active:not(:hover) {
  min-width: 90px;
  max-width: 90px;
  text-align: center;
  height: 100%;
}

.sidebar.active:hover .tiny-sidebar {
  opacity: 0;
  transform: scale(0);
  transition: all ease .5s .5s;
  position: absolute;
}

.sidebar.active .tiny-sidebar {
  opacity: 1;
  transform: scale(1);
  transition: all ease .5s;
}

.site-logo {
  display: flex;
}

.sidebar .tiny-sidebar {
  opacity: 0;
  transform: translate(-50px, 0);
  transition: all ease .1s;
  position: absolute;
  top: 10px;
}

.sidebar .mainList>li a svg {
  display: inline-block;

}

.sidebar .mainList>li a svg path {
  fill: white;

}

.sidebar .mainList>li.sidebar-selected a svg path {
  fill: url(#paint0_linear_1041_304);
}

.sidebar .mainList>li:hover a svg path {
  fill: url(#paint0_linear_1041_304);
}

.sidebar.active .mainList>li a {
  min-width: 276px;
  white-space: nowrap;
  color: #fff;
  font-weight: 400;
  position: sticky;
  top: 0;
  z-index: 1;
}

.sidebar.active:not(:hover) .sidebar__inner ul.mainList>li>a>span {
  visibility: hidden;
}

.sidebar ul li a span {
  vertical-align: middle;
  margin-left: 14px;
  display: inline-block;
  line-height: 100%;
  visibility: visible;
}

.sidebar.active:hover .max-sidebar {
  opacity: 1;
  transform: translate(0, 0);
  -webkit-transition-delay: -1.5s;
  -webkit-transition: .5s all;
  -webkit-transition-delay: .5s;
  -moz-transition: .5s all;
  -moz-transition-delay: .5s;
  -ms-transition: .5s all;
  -ms-transition-delay: .5s;
  -o-transition: .5s all;
  -o-transition-delay: .5s;
  transition: .5s all;
  transition-delay: 0s;
  position: relative;
}

.sidebar.active .max-sidebar {
  opacity: 0;
}

.sidebar .max-sidebar {
  opacity: 1;
  transition: all ease .3s;
}

.sidebar.active:hover .tiny-sidebar {
  opacity: 0;
  transform: scale(0);
  transition: all ease .5s .5s;
  position: absolute;
}














.body-active .header .sbarCollapsebtn {
  padding: 3px;
  position: relative;
  left: 0px;
  background-color: transparent;
  top: 0px;
  border-radius: 3px;
  z-index: 11;
  transition: .5s;
}

.body-active .sidebar {
  min-width: 276px !important;
  max-width: 276px !important;
  background: #0047CD;
  color: #fff;
  transition: all 0.3s;
  position: fixed;
  top: 0;
  height: 100%;
  left: 0;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  z-index: 1111;
  padding: 0;
}

.body-active .sidebar .tiny-sidebar {
  opacity: 0;
  transform: scale(0);
  transition: all ease .5s .5s;
  position: absolute;
}

.body-active .sidebar .tiny-sidebar {
  opacity: 1;
  transform: scale(1);
  transition: all ease .5s;
}


.body-active .sidebar .mainList>li a {
  min-width: 208px;
  white-space: nowrap;
  color: #fff;
  font-weight: 400;
  position: sticky;
  top: 0;
  z-index: 1;
}



.body-active .sidebar .max-sidebar {
  opacity: 1 !important;
  transform: translate(0, 0);
  -webkit-transition-delay: -1.5s;
  -webkit-transition: .5s all;
  -webkit-transition-delay: .5s;
  -moz-transition: .5s all;
  -moz-transition-delay: .5s;
  -ms-transition: .5s all;
  -ms-transition-delay: .5s;
  -o-transition: .5s all;
  -o-transition-delay: .5s;
  transition: .5s all;
  transition-delay: 0s;
  position: relative;
}


.body-active .sidebar.active:not(:hover) .sidebar__inner ul.mainList>li>a>span {
  visibility: visible !important;
}


.body-active .sidebar .tiny-sidebar {
  opacity: 0;
  transform: scale(0);
  transition: all ease .5s .5s;
  position: absolute;
}



.logo-text-small a {
  color: #fff;
}









.sidebar .site-logo {
  padding: 15px 10px 15px;
  border-bottom: thin solid rgba(255, 255, 255, 0.05);
  /*background-color: rgba(255, 255, 255, 0.075);*/
  line-height: 42px;
  /* display: flex;*/
  /* height: 49px; */
  align-items: center;
}

ul#menuList li {
  display: flex;
  align-items: center;
  /*border-bottom: 1px solid rgba(255, 255, 255, 0.035);*/
}

/* for background color purpose */
/* ul#menuList li:nth-child(even){
  background-color: #202b46;
} */
.sidebar.active .mainList>li a {
  min-width: 276px;
  white-space: nowrap;
}

.sidebar ul li a {
  text-align: left;
  padding: 15px 13px;
  font-size: 14px;
  display: block;
  color: #f2f2f2;
  text-decoration: none;
}

.sidebar.active .mainList {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -ms-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
  overflow: hidden;
}

.header .sbarCollapsebtn {
  padding: 3px;
  position: relative;
  left: 0px;
  background-color: transparent;
  top: 0px;
  border-radius: 3px;
  z-index: 11;
}

.sbarCollapsebtn {
  width: 30px;
  height: 25px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.sbarCollapsebtn>span:nth-child(1) {
  top: 6px;
}

.quick-view-block p {
  color: #777;
}

.sbarCollapsebtn>span {
  display: block;
  position: absolute;
  height: 1.5px;
  width: 50%;
  background: #0B0D23;
  border-radius: 6px;
  opacity: 1;
  left: 20%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.sbarCollapsebtn>span:nth-child(2) {
  width: 70%;
}


.sbarCollapsebtn>span:nth-child(3) {
  top: 19px;
}

.inbl {
  display: inline-block;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: rgb(156, 156, 156);
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 2px 1px;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  font-size: 12px;
  width: 60px;
  transform: translate(-50%, 0px);
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.navbar-right ul {
  display: flex;
  gap: 15px;
  justify-content: right;
  align-items: center;
}

.container-fluid {
  width: 100%;
  padding: 0 20px;
}


.body-active .page-title-block {
  margin-left: 0px;
}

.page-title-block {
  margin-left: 90px;
  background: #fff;
  padding: 18px 25px 20px 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07);
  display: flex;
  justify-content: space-between;
}


.page-title-block-content {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}

/* table heading width change */

.page-title-block-content h1 {
  color: #0B0D23;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  /* 100% */
  letter-spacing: -0.2px;
}

.quick-view-block {
  display: flex;
  align-items: center;
  gap: 5px;
}

.tooltip i {
  position: relative;
  display: flex;
  align-items: center;
}

button#UserPop span {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  float: left;
  line-height: 30px;
  font-size: 12px;
  background-color: #4285f4;
  color: #fff;
  position: relative;
  border: 1px solid #fff;
}

#demo-customized-button {
  background: transparent;
  border-radius: 0;
  color: #4285f4 !important;
  padding: 0 !important;
  border-bottom: 1px solid #4285f4 !important;
}
.content-block {
  background: #fff;
  margin-left: 90px;
  padding: 18px 25px 40px;
  flex: 1;
  z-index: 1;
  min-height: 85vh;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
}

.body-active .content-block {
  margin-left: 0px;
}

.content-block thead {
  border-radius: 3px 3px 0px 0px;
  background: #213d79;
  color: #fff;
}

.content-block thead th {
  color: #fff;
}

.content-block thead th span:hover {
  color: #fff;
}

.content-block thead th span {
  color: #fff !important;
}

.reg-name {
  color: #4285f4 !important;
}

.reg-name a:hover {
  text-decoration: underline;
}

.checkbox-tb {
  width: 70px;
}

/* .table-custom-tr:nth-child(even) {
  border-left: 4px solid #e7483b;
  border-radius: 0 10px 10px 0;
} */

.arrow-steps {
  margin: 30px -3px;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: stretch;
  align-items: stretch;
}

.arrow-steps .step.filled {
  background-color: #d0ddf6;
}

.arrow-steps .step {
  min-width: 16%;
}

.arrow-steps .step {
  font-size: 14px;
  text-align: center;
  color: #666;
  cursor: default;
  margin: 0 3px;
  padding: 10px 20px 10px 20px;
  min-width: 16%;
  position: relative;
  background-color: #e7e7e7;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  min-height: 41px;
  transition: background-color 0.2s ease;
}

@media (min-width: 1220px) and (max-width: 1289px) {
  /*	.arrow-steps .step{min-width:15%}
    .activeBodyNav .arrow-steps .step{min-width:12%;}*/
}

@media (max-width: 1219px) {
  .arrow-steps .step {
    min-width: 15%
  }

  .activeBodyNav .arrow-steps .step {
    min-width: 10%;
  }
}

/*.arrow-steps .step.app-started,
  .arrow-steps .step.app-complete,
  .arrow-steps .step.app-submitted,
  .arrow-steps .step.app-enrollmentLabel{ padding-left:25px;}*/

.arrow-steps .step.filled {
  background-color: #d0ddf6;
}

.arrow-steps .step:after,
.arrow-steps .step:before {
  content: " ";
  position: absolute;
  top: 0;
  right: -17px;
  width: 0;
  height: 0;
  border-top: 24px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 17px solid #e7e7e7;
  z-index: 2;
  transition: border-color 0.2s ease;
}

.arrow-steps .step.filled:after {
  border-left-color: #d0ddf6;
}

.arrow-steps .step:before {
  right: auto;
  left: 0;
  border-left: 17px solid #fff;
  z-index: 0;
}

.arrow-steps .step:first-child:before {
  border: none;
}

.arrow-steps .step.done span:before {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease 0.5s;
  -moz-transition: opacity 0.3s ease 0.5s;
  -ms-transition: opacity 0.3s ease 0.5s;
  transition: opacity 0.3s ease 0.5s;
}

.arrow-steps .step.active {
  color: #fff;
  background-color: #b7c9f1;
}

.arrow-steps .step.active:after {
  border-left: 17px solid #b7c9f1;
}

.arrow-steps .step.filled .stepTitle,
.arrow-steps .step.active .stepTitle {
  color: #111;
  font-weight: 500;
}

.stepsOpt {
  position: absolute;
  background-color: #b9b9b9;
  padding: 5px;
  border-radius: 50%;
  line-height: 12px;
  min-width: 21px;
  height: 21px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  margin-left: 5px;
  text-align: center;
  z-index: 11;
}

.filled .stepsOpt,
.active .stepsOpt {
  background-color: #4c79dc;
}

.stepsOpt:hover,
.stepsOpt:focus {
  text-decoration: none;
  color: #fff;
}

.filled .stepsOpt:hover,
.filled .stepsOpt:focus,
.active .stepsOpt:hover,
.active .stepsOpt:focus {
  background-color: rgba(75, 123, 221, 0.6);
}

.user_profile_data .form-group {
  padding-bottom: 0;
}

.user_profile_data .help-block {
  margin: 0;
}

.user_profile_data .chosen-container {
  vertical-align: top;
}

.about-contant .timeline li {
  border-left-color: #4c79dc;
}

.about-contant .icontimeline {
  border-color: #4c79dc;
  color: #4c79dc;
  width: 35px;
  height: 35px;
}

.timeline time {
  color: #666;
}

.offCanvasModal .timeline li {
  padding-bottom: 10px;
}

.mergeLeads a {
  color: #e7483b;
  font-size: 16px;
}

.mergeLeads a.parentLead {
  color: #4c79dc;
}

.mergeLeads a:hover,
.mergeLeads a:focus {
  text-decoration: none;
}



.content-block-details {
  background: #fff;
  margin-left: 90px;
  padding: 10px 20px 40px 20px;
  flex: 1;
  z-index: 1;
  min-height: 100vh;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
}

.body-active .content-block-details {
  margin-left: 0px;
}

.lead-top-details-block {
  padding: 16px 15px;
  min-height: 169px;
  border: 1px solid #eaeaea;
  border-top: 2px solid #4285f4 !important;
  margin-right: 5px;
  min-height: 200px;
}

.nameInitials {
  border-radius: 5px;
  padding: 2px 6px;
  display: inline-block;
  min-width: 30px;
  text-align: center;
  line-height: 100%;
  font-size: 1.5em;
  color: #4285f4;
  font-weight: 500;
}

.lead-info-campaign-status {
  width: 16px;
  height: 16px;
  position: absolute;
  right: -5px;
  top: -5px;
  background-color: #fff;
  border-radius: 50%;
}

.tileCellDiv {
  padding-left: 15px;
}

.tileCellDiv,
.nameInitialsDiv {
  display: table-cell;
  vertical-align: top;
}

.tileCellDiv h4 {
  margin: 0 0 1px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.1rem;
  word-break: break-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1;
}

.leadStageBox a {
  color: #4285f4;
  font-size: 14px;
  margin-top: -4px;
}

.lead-top-details-block-name {
  display: flex;
  align-items: unset;
  justify-content: space-between;
}

div#leadQrCode a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  gap: 4px;
}

svg.svg-inline--fa.fa-qrcode {
  font-size: 18px;
}

.lead-top-contact-details p {
  width: 100%;
  margin: 8px 0 0;
  line-height: 100%;
  vertical-align: top;
  font-size: 14px;
}

.lead-score-block {
  text-align: center;
  padding: 15px 8px;
  white-space: nowrap;
  min-height: 81px;
  border: 1px solid #eaeaea;
  border-top: 2px solid #ea4537;
  margin-right: 5px;
}

.lead-score-block-tab {
  text-align: center;
  padding: 10px 6px;
  white-space: nowrap;
  min-height: 15px;
  border: 1px solid #eaeaea;
  border-top: 2px solid #ea4537;
  margin-right: 5px;
  cursor: pointer;
}


.generate-lead-block {
  text-align: center;
  padding: 15px 8px;
  border: 1px solid #eaeaea;
  white-space: nowrap;
  min-height: 81px;
  margin-top: 7px;
  margin-right: 5px;
}

.lead-score-block h3,
.lead-percent-icon {
  font-size: 30px;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 10px;
}

.lead-score-block h4 {
  font-weight: 500;
}

.generate-lead-block h4 {
  font-weight: 500;
}

.lead-communication-status {
  width: 33%;
  padding: 0 10px;
  min-height: 50px;
  margin-bottom: 15px;
}

.lead-status-block {
  margin-right: 0;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #eaeaea;
  padding: 15px;
  border-top: 2px solid #55b66f;
}

.lead-communication-status h4 {
  color: #004467;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 5px;
}

.lead-communication-status ul li {
  font-size: 14px;
}

.lead-tab {
  border: 1px solid #eaeaea !important;
  width: 300px;
  padding: 10px;
}

.lead-tab-item {
  display: flex !important;
  flex-direction: row !important;
  justify-content: unset !important;
  gap: 10px !important;
  align-items: center !important;
  min-height: auto !important;
  padding: 12px 15px !important;
  border-bottom: unset !important;

  color: #0B0D23;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 66.667% */
  text-transform: capitalize;

  margin: 8px 0;

  border-radius: 3px;
  background: #FFF;
}

.lead-tabpanel {
  width: 100%;
  padding: 12px 15px !important;
  border: 1px solid #eaeaea !important;
  border-left: 0px !important;
}

.lead-tab-item.Mui-selected {
  color: #fff !important;
  font-weight: 500 !important;
  background-color: #f8f8f8;
  border: none;
  margin-right: 0 !important;
  border-radius: 3px;
  background: #0B0D23;
}

.lead-details-list {
  display: flex;
  font-size: 15px;
  margin-bottom: 10px;
  width: 100%;
  color: #111;
  word-break: break-all;
}

.lead-details-list label {
  margin-bottom: 0;
  max-width: 200px;
  color: #111;
  vertical-align: top;
  min-width: 200px;
  font-weight: 500;
}

.lead-details-list .title {
  font-weight: bold;
}

.lead-tabpanel .MuiBox-root.css-19kzrtu {
  padding: 0;
}

.lead-tabpanel-content-block-title {
  display: flex;
  min-height: 43px;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 20px;
  width: 100%;
  align-items: center;
}

.lead-tabpanel-content-block-title h2 {
  font-weight: 400;
  font-size: 18px;
  padding-left: 20px;
  margin-right: 8px;
  line-height: 18px;
  color: #4285f4;
}

a.edit-btn {
  color: #666;
}

.lead-tabpanel-content-block.timeline .lead-tabpanel-content-block-title {
  display: flex;
  justify-content: space-between;
}

div#demo-simple-select {
  border: 0px !important;
  border-bottom: 2px solid #4285f4 !important;
  border-radius: 0;
  padding: 10px 15px;
}

.lead-tabpanel-content-block.timeline fieldset {
  border: 0px !important;
}

ul.timeline-ul {
  align-items: flex-start;
}

.TimelineOppositeContent {
  -webkit-flex: 0.1;
  -ms-flex: 0.1;
  flex: 0.1;
  color: #666 !important;
  font-size: 12px !important;
}

svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.timelineIcon.css-i4bv87-MuiSvgIcon-root {
  border: 1px solid #4c79dc;
  color: #4c79dc;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 4px;
}

.timeline-content-content {
  background-color: #fafafa;
  padding: 5px;
  position: relative;
  display: inline-block;
  border: 1px solid #eee;
  width: 100%;
  word-wrap: break-word;
  vertical-align: top;
  display: flex;
  /* added direction */
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 15px;
  margin-top: -20px;
  margin-left: 20px;
  border-radius: 3px;
  background: #FFF;
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
  padding: 16px 18px;

}

.timeline-content-content p {
  color: #666;
  font-size: 14px;
}

.timeline-content-content span {
  font-weight: 600;
}

button.loadmore-btn {
  border-radius: 2px;
  font-size: 13px;
  padding: 5px 15px;
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
  display: flex;
  gap: 5px;
  align-items: center;
}

.loadmore-btn-block {
  margin: 0px auto;
  width: fit-content;
}

.timeline-top-right-block {
  display: flex;
  align-items: center;
  gap: 10px;
}

.add-note {
  border-radius: 2px;
  font-size: 13px;
  padding: 5px 10px;
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.no-follw-up-block h4 {
  color: #ddd;
  font-size: 24px;
  margin-top: 80px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.communication-log-item {
  margin-bottom: 20px;
}

.timeline-content-block-item h4 {
  margin-bottom: 10px;
}

.communication-log-item:nth-child(1) .lead-score-block {
  border-top: 2px solid #00a65a;
}

.communication-log-item:nth-child(2) .lead-score-block {
  border-top: 2px solid #9d1cb2;
}

.communication-log-item:nth-child(3) .lead-score-block {
  border-top: 2px solid #f39c12;
}

.communication-log-item:nth-child(4) .lead-score-block {
  border-top: 2px solid #dd4b39;
}

.communication-log-item:nth-child(5) .lead-score-block {
  border-top: 2px solid #00a65a;
}

.communication-log-item:nth-child(6) .lead-score-block {
  border-top: 2px solid #9d1cb2;
}

.communication-log-item:nth-child(7) .lead-score-block {
  border-top: 2px solid #f39c12;
}

.communication-log-item:nth-child(8) .lead-score-block {
  border-top: 2px solid #dd4b39;
}

.communication-log-item .lead-score-block h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.communication-log-item .lead-score-block h4 {
  font-weight: 500;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
}

.react-tel-input .form-control {
  position: relative;
  font-size: 14px;
  letter-spacing: .01rem;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-left: 48px;
  margin-left: 0;
  background: #FFFFFF;
  border: 1px solid #CACACA;
  border-radius: 5px;
  line-height: 25px;
  height: 35px;
  width: 100% !important;
  outline: none;
}

.form-validation {
  color: red;
  font-size: 14px;
  margin-left: 5px;
}

.spinner {
  border: 4px solid rgba(253, 248, 248, 0.1);
  border-left-color: #daddeb;
  /* Change color as needed */
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.sidebar-selected {
  /* background-color: #4285f4;*/
}

.no-table-ask-block h4 {
  color: #ddd;
  font-size: 24px;
  margin-top: 80px;
  margin-bottom: 80px;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.popup-content {
  /* display: none; */
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
  z-index: 9999;
  top: -88px;
}

.popup-content a {
  color: black;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
}

.popup-content a:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.login-dropdown-list-item {
  border-bottom: 1px solid #ededed;
}

.login-dropdown-list-item.dropdown-name-block {
  display: flex;
  align-items: center;
  gap: 5px;
}

.login-dropdown-list-item.dropdown-name-block div h3 {
  color: #4285f4 !important;
}

.login-dropdown-list-item.dropdown-name-block div h6 {
  color: #777;
  font-size: 12px;
  font-weight: 500;
}

.login-dropdown-list-item.dropdown-name-block {
  padding: 10px 15px;
}

section {
  transition: .5s;
}

body.body-active section,
body.body-active .header {
  margin-left: 276px;
  transition: .5s;
}

.form-text {
  font-size: 15px;
}

.form-text-purpose a {
  font-size: 15px;

}

.course-popup {
  transition: height 0.5s ease, opacity 0.5s ease;
  /* Transition for height and opacity */
  opacity: 0;
  /* Initially hide the popup */
  height: 0;
  /* Initially collapse the popup */
  overflow: hidden;
  /* Hide any overflow content */
}

.course-popup.show {
  opacity: 1;
  /* Show the popup */
  height: auto;
  /* Expand the height to fit content */
}

.custom-editor-container {
  max-height: 200px;
  overflow-y: auto !important;
  border-radius: 4px;
}

.ck-content {
  height: 350px;
}

.app-table-options li {
  padding: 5px;
  font-size: 14px;
}

.app-table-options li:hover {
  color: rgb(78, 78, 163);
  background-color: rgb(239, 242, 243);
  cursor: pointer;
  font-size: 14px;
}

.app-table-container {
  padding: 0px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}


.a_hover:hover {
  text-decoration: underline;
}


